@import "../DrawerComponent/style.css";
/* ++++++++++++++CSS RESET++++++++++++++ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ++++++++++++++CSS RESET ENDS++++++++++++++ */

/* ++++++++++++++STYLE++++++++++++++ */
* {
  --primary-color: #6200ee;
  --secondary-color: #ffffff;
}
button {
  border: none;
  background: none;
}
body {
  background-color: rgba(0, 0, 0, 0.11);
}
/* ++++++++++++++STYLE ENDS++++++++++++++ */

/* ++++++++++++++HEADER COMPONENT++++++++++++++ */
.wrapper {
  text-align: center;
}
.wrapper h1 {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
}
.header-wrapper {
  background-color: var(--primary-color);
  margin: 1rem;
  display: flex;
}
.hamburger-menu {
  padding: 1rem 1rem 1rem 0;
}
.hamburger-menu-btn:hover {
  background-color: #7628e2;
}
.hamburger-menu-btn {
  width: 2.5rem;
}
.content {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.2rem;
  flex: 3;
  color: var(--secondary-color);
  text-align: left;
}
.action-buttons {
  margin-right: auto;
  padding: 1rem 1rem 1rem 0;
}
.action-btn-flex {
  width: 2.5rem;
}
/* ++++++++++++++HEADER COMPONENT ENDS++++++++++++++ */

/* ===============================Footer Component============================== */
.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100vw;
  background-color: var(--mauve);
  justify-content: center;
  align-items: center;
}
.footer img {
  width: 1.5rem;
  margin: 0 0.5rem;
}
.footer a {
  color: var(--russian-violet);
  font-size: 1.5rem;
  text-decoration: none;
}
/* ===============================Footer Component Ends============================== */
